# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.next
out
build

# Environment files
.env
.env.local
.env.*.local
!.env.example

# IDE
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage
.nyc_output

# Turbo
.turbo

# Prisma
packages/database/prisma/*.db
packages/database/prisma/*.db-journal

# Uploads (local dev)
uploads/*
!uploads/.gitkeep

# Docker
docker-compose.override.yml

# Nginx auth (contient les mots de passe hashés)
docker/nginx/.htpasswd

# Prometheus/Grafana data
monitoring/prometheus/data
monitoring/grafana/data

# Cache
.cache
*.tsbuildinfo
